<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin App - Login</title>
</head>
<body>

  {% if messages %}
    <div class="alert  alert-light alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
   </div>
   {% endif %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}
</body>
</html>