<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Jags - BiznetID Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Jags BiznetID - Admin panel </title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'adminapp/assets/img/favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'adminapp/assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'adminapp/assets/css/font-awesome.min.css' %}">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{% static 'adminapp/assets/css/line-awesome.min.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'adminapp/assets/css/style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="{% static 'adminapp/assets/js/html5shiv.min.js' %}"></script>
			<script src="{% static 'adminapp/assets/js/respond.min.js' %}"></script>
		<![endif]-->
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="{% static 'adminapp/assets/img/logo.png' %}" width="40" height="40" alt="">
					</a>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Title -->
                <div class="page-title-box">
					<h3>Jags BiznetID</h3>
                </div>
				<!-- /Header Title -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
					<!-- Search -->
					<li class="nav-item">
						<div class="top-nav-search">
							<a href="javascript:void(0);" class="responsive-search">
								<i class="fa fa-search"></i>
						   </a>
							<form action="#">
								<input class="form-control" type="text" placeholder="Search here">
								<button class="btn" type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
					</li>
					<!-- /Search -->
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
							<img src="{% static 'adminapp/assets/img/flags/us.png' %}" alt="" height="20"> <span>English</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'adminapp/assets/img/flags/us.png' %}" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'adminapp/assets/img/flags/fr.png' %}" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'adminapp/assets/img/flags/es.png' %}" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'adminapp/assets/img/flags/de.png' %}" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->
				
					<!-- Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fa fa-bell-o"></i> <span class="badge badge-pill">0</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="activities.html">
											<div class="media">
												<span class="avatar">
													<img alt="" src="{% static 'adminapp/assets/img/profiles/avatar-02.jpg' %}">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
													<p class="noti-time"><span class="notification-time">1 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									
									
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="activities.html">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					
					<!-- Message Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fa fa-comment-o"></i> <span class="badge badge-pill">0</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Messages</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="chat.html">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{% static 'adminapp/assets/img/profiles/avatar-09.jpg' %}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">Richard Miles </span>
													<span class="message-time">12:28 AM</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
						
							
								
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="chat.html">View all Messages</a>
							</div>
						</div>
					</li>
					<!-- /Message Notifications -->

					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img src="{% static 'adminapp/assets/img/profiles/avatar-21.jpg' %}" alt="">
							<span class="status online"></span></span>
							<span>Admin</span>
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#"> My Profile </a>
							<a class="dropdown-item" href="#">Settings</a>
							<a class="dropdown-item" href="/adminapp/logout/">Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#l">My Profile</a>
						<a class="dropdown-item" href="#">Settings</a>
						<a class="dropdown-item" href="/accounts/logout/">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/adminapp/">Admin Dashboard</a></li>
									<li><a href="/adminapp/">Employee Dashboard</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-cube"></i> <span> Apps</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="#">Chat</a></li>
									<li class="submenu">
										<a href="#"><span> Calls</span> <span class="menu-arrow"></span></a>
										<ul style="display: none;">
										<!-- 	<li><a href="#">Voice Call</a></li>
											<li><a href="#">Video Call</a></li>
											<li><a href="#">Outgoing Call</a></li>
											<li><a href="#">Incoming Call</a></li> -->
										</ul>
									</li>
								<!-- 	<li><a href="#">Calendar</a></li>
									<li><a href="#">Contacts</a></li>
									<li><a href="#">Email</a></li>
									<li><a href="#">File Manager</a></li> -->
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Users</span>
							</li>
							<li class="submenu">
								<a href="#" class="noti-dot"><i class="la la-user"></i> <span> Users</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/adminapp/allusers/">All Users</a></li>
									<li><a href="/adminapp/pendingusers/">Inactive Users</a></li>
									<li><a href="/adminapp/activeusers/"> Active Users <span class="badge badge-pill bg-primary float-right">1</span></a></li>
									<li><a href="#"> Affiliates (Active)</a></li>
							<!-- 		<li><a href="#">Leave Settings</a></li>
									<li><a href="#">Attendance (Admin)</a></li>
									<li><a href="#">Attendance (Employee)</a></li>
									<li><a href="#">Departments</a></li>
									<li><a href="#">Designations</a></li>
									<li><a href="#">Timesheet</a></li>
									<li><a href="#">Overtime</a></li> -->
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-columns"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/adminapp/all-list/"> Listing </a></li>
									<li><a href="/adminapp/all-cards/"> Visiting cards </a></li>
									<li><a href="#"> Page details </a></li>
								</ul>
							</li>
							 <li class="submenu">
								<a href="#"><i class="la la-money"></i> <span> Packages </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/adminapp/all-packages/"> View packages </a></li>
									<li><a href="/adminapp/create-package/"> Create Package </a></li>
									<li><a href="#"> View Features </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-ticket"></i> <span>Themes </span> <span class="menu-arrow"> </span> </a>
								<ul style="display: none;">
									<li><a href="/adminapp/all-themes">View All themes</a></li>
									<li><a href="/adminapp/create-theme">Create Themes </a></li>
									<li><a href="/adminapp/all-theme">Update Themes </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li> <a href="/adminapp/orders/">Payments Done</a> </li>
									<li> <a href="/adminapp/invoices/">Invoices</a> </li>
									<li> <a href="/adminapp/wallet/">Payout Request</a> </li>
									<li> <a href="/adminapp/generate-reports/">Generate Report</a> </li>
									<li> <a href="/adminapp/update-payment/">Update Payment</a> </li>
								</ul>
							</li>
								<li class="submenu">
								<a href="#"><i class="la la-cog"></i> <span> Settings </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li> <a href="/adminapp/general-settings/">General Settings</a> </li>
									<li> <a href="/adminapp/view-payment-methods/">Payment Methods</a> </li>
									<li> <a href="/adminapp/create-payment-methods/">Create Methods</a> </li>
								</ul>
							</li>
<!--							<li> -->
<!--								<a href="#"><i class="la la-users"></i> <span>Clients</span></a>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#">Projects</a></li>-->
<!--									<li><a href="#">Tasks</a></li>-->
<!--									<li><a href="#">Task Board</a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li> -->
<!--								<a href="#"><i class="la la-user-secret"></i> <span>Leads</span></a>-->
<!--							</li>-->
<!--							<li> -->
<!--								<a href="#"><i class="la la-ticket"></i> <span>Tickets</span></a>-->
<!--							</li>-->
<!--							<li class="menu-title"> -->
<!--								<span>HR</span>-->
<!--							</li>-->


<!--							<li> -->
<!--								<a href="#"><i class="la la-file-pdf-o"></i> <span>Policies</span></a>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-pie-chart"></i> <span> Reports </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#"> Expense Report </a></li>-->
<!--									<li><a href="#"> Invoice Report </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li class="menu-title"> -->
<!--								<span>Performance</span>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-graduation-cap"></i> <span> Performance </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#"> Performance Indicator </a></li>-->
<!--									<li><a href="#"> Performance Review </a></li>-->
<!--									<li><a href="#"> Performance Appraisal </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-crosshairs"></i> <span> Goals </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#"> Goal List </a></li>-->
<!--									<li><a href="#"> Goal Type </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-edit"></i> <span> Training </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#"> Training List </a></li>-->
<!--									<li><a href="#"> Trainers</a></li>-->
<!--									<li><a href="#"> Training Type </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li><a href="#"><i class="la la-bullhorn"></i> <span>Promotion</span></a></li>-->
<!--							<li><a href="#"><i class="la la-external-link-square"></i> <span>Resignation</span></a></li>-->
<!--							<li><a href="#"><i class="la la-times-circle"></i> <span>Termination</span></a></li>-->
<!--							<li class="menu-title"> -->
<!--								<span>Administration</span>-->
<!--							</li>-->
<!--							<li> -->
<!--								<a href="{% static 'adminapp/assets.html' %}"><i class="la la-object-ungroup"></i> <span>Assets</span></a>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-briefcase"></i> <span> Jobs </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#"> Manage Jobs </a></li>-->
<!--									<li><a href="#"> Applied Candidates </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li> -->
<!--								<a href="#"><i class="la la-question"></i> <span>Knowledgebase</span></a>-->
<!--							</li>-->
<!--							<li> -->
<!--								<a href="#"><i class="la la-bell"></i> <span>Activities</span></a>-->
<!--							</li>-->
<!--							<li> -->
<!--								<a href="#"><i class="la la-user-plus"></i> <span>Users</span></a>-->
<!--							</li>-->

<!--							<li class="menu-title"> -->
<!--								<span>Pages</span>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-user"></i> <span> Profile </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#"> Employee Profile </a></li>-->
<!--									<li><a href="#"> Client Profile </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-key"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#"> Login </a></li>-->
<!--									<li><a href="#"> Register </a></li>-->
<!--									<li><a href="#"> Forgot Password </a></li>-->
<!--									<li><a href="#"> OTP </a></li>-->
<!--									<li><a href="#"> Lock Screen </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-exclamation-triangle"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#">404 Error </a></li>-->
<!--									<li><a href="#">500 Error </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-hand-o-up"></i> <span> Subscriptions </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#"> Subscriptions (Admin) </a></li>-->
<!--									<li><a href="#"> Subscriptions (Company) </a></li>-->
<!--									<li><a href="#"> Subscribed Companies</a></li>-->
<!--								</ul>-->
<!--							</li>-->

<!--							<li class="menu-title"> -->
<!--								<span>UI Interface</span>-->
<!--							</li>-->
<!--							<li> -->
<!--								<a href="#"><i class="la la-puzzle-piece"></i> <span>Components</span></a>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-object-group"></i> <span> Forms </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#">Basic Inputs </a></li>-->
<!--									<li><a href="#">Input Groups </a></li>-->
<!--									<li><a href="#">Horizontal Form </a></li>-->
<!--									<li><a href="#"> Vertical Form </a></li>-->
<!--									<li><a href="#"> Form Mask </a></li>-->
<!--									<li><a href="#"> Form Validation </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li class="submenu">-->
<!--								<a href="#"><i class="la la-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li><a href="#">Basic Tables </a></li>-->
<!--									<li><a href="#">Data Table </a></li>-->
<!--								</ul>-->
<!--							</li>-->
<!--							<li class="menu-title"> -->
<!--								<span>Extras</span>-->
<!--							</li>-->
<!--							<li> -->
<!--								<a href="#"><i class="la la-file-text"></i> <span>Documentation</span></a>-->
<!--							</li>-->
<!--							<li> -->
								<a href="javascript:void(0);"><i class="la la-info"></i> <span>Change Log</span> <span class="badge badge-primary ml-auto">v3.4</span></a>
							</li>
<!--							<li class="submenu">-->
<!--								<a href="javascript:void(0);"><i class="la la-share-alt"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>-->
<!--								<ul style="display: none;">-->
<!--									<li class="submenu">-->
<!--										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>-->
<!--										<ul style="display: none;">-->
<!--											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>-->
<!--											<li class="submenu">-->
<!--												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>-->
<!--												<ul style="display: none;">-->
<!--													<li><a href="javascript:void(0);">Level 3</a></li>-->
<!--													<li><a href="javascript:void(0);">Level 3</a></li>-->
<!--												</ul>-->
<!--											</li>-->
<!--											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>-->
<!--										</ul>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a href="javascript:void(0);"> <span>Level 1</span></a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</li>-->
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
					         <!-- Main Content -->
		            {% block body %}

		            <!-- /Paste your Codes here or extend this page -->

					<!-- /Page Header -->


		            {% endblock %}
					


				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{% static 'adminapp/assets/js/jquery-3.5.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'adminapp/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'adminapp/assets/js/bootstrap.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
		<script src="{% static 'adminapp/assets/js/jquery.slimscroll.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'adminapp/assets/js/app.js' %}"></script>

		<!-- Custom JS Libraries -->
		   <!-- Datatable JS -  Only For List USer Pages -->

	 {% block datatable %}
 	 {% endblock datatable %}

			 {% block datepicker %}
 	 {% endblock datepicker %}
    </body>
</html>