{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->
    <!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title"> Generate Reports </h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Payout Request</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					    {% if messages %}
						<div class="alert  alert-light alert-dismissible fade show" role="alert">
						{% for message in messages %}
						{% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
						{% endfor %}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					   </div>
					   {% endif %}



					<!-- Search Filter -->
					<div class="row filter-row">
						<div class="col-sm-6 col-md-2">
							<div class="form-group form-focus select-focus">
								<select class="select floating">
									<option>Select Payout Mode</option>
									<option>BHIM - UPI</option>
									<option> NEFT - Bank</option>
								</select>
								<label class="focus-label">Payout Mode </label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="form-group form-focus">
								<div class="cal-icon">
									<input class="form-control floating datetimepicker" type="text">
								</div>
								<label class="focus-label">From</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="form-group form-focus">
								<div class="cal-icon">
									<input class="form-control floating datetimepicker" type="text">
								</div>
								<label class="focus-label">To</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-2">
							<a href="#" class="btn btn-info"> Search </a>
						</div>
							<div class="col-sm-6 col-md-2">
							<a href="/adminapp/generate-sheet/" class="btn btn-success"> Export </a>
						</div>
                    </div>
					<!-- /Search Filter -->

					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th># ID</th>
											<th>Transaction ID</th>
											<th>Name </th>
											<th>Amount </th>
											<th>Mode of payment</th>
											<th>Acc / UPI ID </th>
											<th>IFSC</th>
											<th>Provider</th>
											<th>Date </th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
									{% for report in report_data %}
										<tr>
											<td>{{report.id}} </td>
											<td><a href="#">{{report.txn_id}} </a></td>
											<td>{{report.name}} </td>
											<td>{{report.payout_amount}} </td>
											<td>{{report.payment_mode}} </td>
											<td>{{report.payout_bankacc}}</td>
											<td>
												{{report.payout_bankifsc}}
											</td>
											<td>{{report.payment_reference}} </td>
											<td>{{report.created_at}} </td>
											<td><span class="badge bg-inverse-warning">Pending</span></td>

										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->

<!-- End Main content-->
{% endblock %}

 {% block datepicker %}
 <script src="{% static 'adminapp/assets/js/bootstrap-datetimepicker.min.js' %}"></script>
 {% endblock datepicker %}