{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->



{% block body %}


<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">List All Page</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">List Pages</a></li>
                        <li class="breadcrumb-item active">Admin - List</li>
                    </ul>
                </div>
            </div>
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

	<div class="row">
		<div class="col-sm-12">
			<div class="card mb-0">
				<div class="card-header">
					<h4 class="card-title mb-0">Default Page Listing</h4>
					<p class="card-text">
						This is the list of all Pages with their Listing URL details. (Both Activated and Pending)
					</p>
				</div>
				<div class="card-body">

					<div class="table-responsive">
						<table class="datatable table table-stripped mb-0">
							<thead>
								<tr>
									<th>User</th>
									<th>Page Details</th>
									<th>Package</th>
									<th>Status</th>
									<th> Page URL </th>
									<th>Change Status </th>
								</tr>
							</thead>
							<tbody>
							{% for list in lists %}
								<tr>
									<td> {{list.user}} </td>
									<td> {{list}} </td>
									<td> {{list.user.package}} </td>
									<td>  {% if list.status %}
										<button type="button" class="btn btn-primary btn-sm">Active</button>
											{% else %}
										<button type="button" class="btn btn-secondary btn-sm">Inactive</button>
											{% endif %}
									</td>
									<td>
										<a href="/api/v1/listing/list/{{list.url_name}}" target="_blank"> {{list.url_name}} </a>
									</td>


									 {% if list.status %}
									 <td>  <form method="post" action="/adminapp/disable-list/{{list.id}}">
										 {% csrf_token %}
										 <button type="submit" class="btn btn-danger btn-sm">Disable </button>
									 </form> </td>
									{% else %}
									 <td>  <form method="post" action="/adminapp/approve-list/{{list.id}}">
										 {% csrf_token %}
										 <button type="submit" class="btn btn-success btn-sm"> Activate </button>
									 </form> </td>
									{% endif %}
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- End Main content-->


{% endblock %}