{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">List All Packages</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">List Packages</a></li>
                        <li class="breadcrumb-item active">Admin - packages</li>
                    </ul>
                </div>
            </div>
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

    <div class="container">
    <div class="row packages-row">

                    {% for package in packages %}
	                <div class="col-12 col-md-6 col-lg-4 d-flex">
								<div class="card flex-fill">
									<div class="card-header">
										<h5 class="card-title mb-0"> {{package.package_name}} </h5>
									</div>
									<div class="card-body">
										<p class="card-text"> {{package.feature}}.</p>
										<ul>
                                        <li class="list-group-item"> Validity: {{package.validity}}</li>
										<li class="list-group-item">Price :{{package.price}} </li>
                                       <li class="list-group-item"> Affiliated Commission: :{{package.affiliate_commission}} </li>
										<li class="list-group-item themepack"> Features :
                                           {% for features in package.features.all %}
                                               <br> {{ features }}
                                            {% endfor %}
                                        </li>
										</ul>
										<div class="package-btn">
										<a class="btn btn-primary" href="/adminapp/update-package/{{package.id}}"> Edit </a>
										<button class="btn btn-danger" href="#"> Disable </button>
										</div>
									</div>
								</div>
							</div>
                    {% endfor %}
        </div>
    </div>
<!-- End Main content-->
{% endblock %}