{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->
    <!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Orders</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Payment Details</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table datatable mb-0">
									<thead>
										<tr>
											<th>Invoice ID</th>
											<th>Client</th>
											<th>Payment Type</th>
											<th>Paid Date</th>
											<th>Paid Amount</th>
                                            <th>Status</th>
                                            <th>Transaction ID</th>
                                            <th>Gateway ID</th>
										</tr>
									</thead>
									<tbody>
                                     {% for order in orders %}
										<tr>
											<td><a href="invoice-view.html">{{order.id}}</a></td>
											<td>
												<h2><a href="#">{{order.user}}</a></h2>
											</td>
											<td> {{order.payment_type}}</td>
                                            <td>{{order.order_date}}</td>
											<td>{{order.order_amount}}</td>
                                            <td>{% if order.isPaid %} Done {% else %} Faild {% endif %} </td>
                                            <td>{{order.txn_id}}</td>
                                            <td>{{order.payment_reference}}</td>
										</tr>
                                     {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->

            </div>
			<!-- /Page Wrapper -->
<!-- End Main content-->

	 {% block datatable %}
	<script src="{% static 'adminapp/assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminapp/assets/js/dataTables.bootstrap4.min.js' %}"></script>
 	 {% endblock datatable %}

{% endblock %}