{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->
    <!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title"> Generate Reports </h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Payout Request</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					    {% if messages %}
						<div class="alert  alert-light alert-dismissible fade show" role="alert">
						{% for message in messages %}
						{% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
						{% endfor %}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					   </div>
					   {% endif %}
					 <div class="container">
  					  <div class="row packages-row">

							<div class="col-12 col-md-6 col-lg-6 md-flex">
								<form method="post" action="/adminapp/update-payment/">
									{% csrf_token %}
									<div class="card-body">
										<ul>
										<li class="list-group-item"> TXN ID: <input type="text" name="txn_id" class="form-control"> </li>
										<li class="list-group-item"> Payment ID: <input type="text" name="payment_id" class="form-control"> </li>
											<input type="submit" name="Submit" class="form-control">
											</ul>
									</div>

								</form>

							</div>
					  </div>
					 </div>
				</div>


				<!-- /Page Content -->

<!-- End Main content-->
{% endblock %}

 {% block datepicker %}
 <script src="{% static 'adminapp/assets/js/bootstrap-datetimepicker.min.js' %}"></script>
 {% endblock datepicker %}