{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">List All Packages</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/adminapp/all-packages/">List Packages</a></li>
                        <li class="breadcrumb-item active">Admin - packages</li>
                    </ul>
                </div>
            </div>
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

    <div class="container">
    <div class="row packages-row">


	                <div class="col-12 col-md-6 col-lg-6 md-flex">
                            <form method="post" action="/adminapp/update-package/{{package.id}}/" >
                                {% csrf_token %}
								<div class="card flex-fill">
									<div class="card-header">
										<h5 class="card-title mb-0">Create Package </h5>
									</div>
									<div class="card-body">

										<ul>
                                        <li class="list-group-item"> Name: <input type="text" name="name" class="form-control" value="{{package}}"> </li>
                                        <li class="list-group-item"> Validity: <input type="number" name="validity" class="form-control"  value="{{package.validity}}"> </li>
										<li class="list-group-item">Price :  <input type="number" name="price" class="form-control"  value="{{package.price}}">  </li>
                                       <li class="list-group-item"> Affiliated Commission: <input type="numbert" name="commission" class="form-control"  value="{{package.affiliate_commission}}">  </li>
										<li class="list-group-item"> Features : <textarea rows="5" cols="5" name="feature"  class="form-control"  placeholder="{{package.feature}}">

                                        </textarea></li>
                                            <li class="list-group-item"> Is free : <input type="checkbox" name="isfree" >  </li>
                                            <li class="list-group-item"> Select Features:
                                                <select name="features" class="form-control" multiple aria-label="multiple select example" >
                                                    {% for feature in features %}
                                                  <option  value="{{feature.id}}"> {{feature.feature_name}} </option>
                                                     {% endfor %}
                                                </select>
                                            </li>
										</ul>
										<div class="package-btn">
										<button type="reset" class="btn btn-danger"> Reset </button>
                                         <button type="submit" class="btn btn-primary"> Submit </button>
										</div>
									</div>
								</div>
                            </form>
                    </div>


        </div>
    </div>
<!-- End Main content-->
{% endblock %}