{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->

<div class="content container-fluid" xmlns="http://www.w3.org/1999/html">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Update Themes</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/adminapp/all-themes/"> Update Themes</a></li>
                        <li class="breadcrumb-item active">Admin - Update theme </li>
                    </ul>
                </div>
            </div>
        </div>
	 </div>

      {% if messages %}
        <div class="alert  alert-light alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
       </div>
       {% endif %}

    <div class="container">
    <div class="row packages-row">


	                <div class="col-12 col-md-6 col-lg-6 md-flex">
                            <form method="post" action="/adminapp/update-theme/{{theme.id}}/" >
                                {% csrf_token %}
								<div class="card flex-fill">
									<div class="card-header">
										<h5 class="card-title mb-0">Update Theme </h5>
									</div>
									<div class="card-body">

										<ul>
                                        <li class="list-group-item"> Name: <input type="text" name="name" value="{{theme.name}}" class="form-control"> </li>
                                        <li class="list-group-item"> Theme ID: <input type="number" name="tid" value="{{theme.tid}}" class="form-control"> </li>
										<li class="list-group-item"> Is free :  <input type="checkbox" name="isfree">  </li>
                                       <li class="list-group-item"> Status : <input type="checkbox" name="status" >  </li>
										<li class="list-group-item"> Background Image : <input class="form-control" type="file"  name="bg_img"> </li>
                                        <li class="list-group-item"> ThumpNail Image : <input class="form-control" type="file" name="thump_img"> </li>
                                            <li class="list-group-item"> Select Packages:
                                                <select name="packages" class="form-control" multiple aria-label="multiple select example">
                                                    {% for package in packages %}
                                                  <option  value="{{package.id}}"> {{package.package_name}} </option>
                                                     {% endfor %}
                                                </select>
                                        </li>
										</ul>
										<div class="package-btn">
										<button type="reset" class="btn btn-danger"> Reset </button>
                                         <button type="submit" class="btn btn-primary"> Submit </button>
										</div>
									</div>
								</div>
                            </form>
                    </div>


        </div>
    </div>
<!-- End Main content-->
{% endblock %}