{% extends 'adminapp/base.html' %} {% load static %} {% block title %} Admin APP - Blank details page{% endblock %}

<!------ Include the above in your HEAD tag ---------->

{% block body %}
<!-- Main Content -->
    <!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">User Wallet</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Payout Request</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					    {% if messages %}
						<div class="alert  alert-light alert-dismissible fade show" role="alert">
						{% for message in messages %}
						{% if message.tags %} <span class="{{ message.tags }}">  {% endif %} {{ message }} </span>
						{% endfor %}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					   </div>
					   {% endif %}

					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table datatable mb-0">
									<thead>
										<tr>
											<th>Request ID</th>
											<th>Affiliate</th>
											<th>Payment Type</th>
											<th>Request Date</th>
											<th>Amount</th>
                                            <th>Status</th>
                                            <th>Transaction ID</th>
                                            <th>Payment ID</th>
<!--											<th> Is Paid</th>-->
										</tr>
									</thead>
									<tbody>
                                     {% for payout in payouts %}
										<tr>
											<td><a href="invoice-view.html">{{payout.id}}</a></td>
											<td>
												<h2><a href="#">{{payout.user}}</a></h2>
											</td>
											<td> {{payout.payment_mode}}</td>
                                            <td>{{payout.created_at}}</td>
											<td>{{payout.payout_amount}}</td>
                                            <td>{% if payout.payment_status%} Done {% else %}
												<form method="post" action="/adminapp/wallet/{{payout.id}}">
											 {% csrf_token %}
											 <button type="submit" class="btn btn-success btn-sm"> Approve </button>
									 		</form> {% endif %} </td>

                                            <td>{{payout.txn_id}}</td>
                                            <td>{{payout.payment_reference}}</td>
<!--											 <td>{% if payout.is_paid %} Done {% else %} Pending {% endif %} </td>-->
										</tr>
                                     {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->

            </div>
			<!-- /Page Wrapper -->
<!-- End Main content-->
{% endblock %}