{% extends 'base.html' %}

{% block content %}


<head>
    <style>
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<div class="center">

    <form class="text-center border border-light p-5" actiom="success.html" method="POST">
        {% csrf_token %}

        <p class="h3 mb-3"><i class="fas fa-coffee"></i> BUY ME A COFFEE!!</p>
        <p class="mb-3">Help us create more videos by donating 500 INR</p>

        <input type="name" name="name" id="name" required class="form-control mb-4" placeholder="Name">

        <!-- RAZORPAY INTEGRATION HERE -->
        <script src="https://checkout.razorpay.com/v1/checkout.js" 
        data-key="rzp_test_hyBePANiJNE0YC"
        data-amount="500"
        data-currency="INR" 
        data-order_id="{{payment.id}}" 
        data-buttontext="Pay with Razorpay"
        data-name="BiznetID - Gold membership"
        data-description="Jags Biz card Gold package"
        data-image="https://www.vass.co.in/wp-content/uploads/2019/11/3d2-270x270.jpg"
        data-prefill.name="PC"
        data-prefill.email="pc@studygyaan.com" 
        data-theme.color="#F37254"></script>

    </form>

</div>


</div>
{% endblock %}